body {
  font-family: "Montserrat", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
.navbar {
  margin-top: 40px;
}
.navbar-links {
  display: flex;
  justify-content: center;
 
}
.navbar-items {
  display: flex;
  list-style-type: none;
}
.navbar-items a {
  text-decoration: none;
  margin-right: 50px;
  color: black;
  font-size: 13px;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}
.navbar-items a:hover {
  color: rgb(83, 80, 80);
}

.search_btn {
  cursor: pointer;
  margin-top: -2px;
}
.search-input {
  padding: 0;
  height: 25px;
  width: 250px;
  display: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.search-icon {
  margin-top: 17px;
  margin-left: 10px;
}
.section1 {
  background-image: url("./image/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.section2 {
  display: flex;
}

.first-image {
  margin-top: 150px;
  height: 70vh;
  margin-left: 100px;
}

.second-image {
  height: 400px;
  margin-top: 650px;
  margin-left: 150px;
}

.section2-text {
  height: 150px;
  text-align: center;
  width: 200px;
  padding-top: 50px;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 50px;
  margin-top: 200px;
  margin-left: -67px;
}

.section2-text2 {
  width: 200px;
  background-color: white;
  margin-top: 537px;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: 315px;
  text-align: center;
  margin-left: -223px;
}

.section3 {
  background-image: url("./image/image4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-top: 50px;
}

.section4 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
}
.section4 h3,
.social h3 {
  text-align: center !important;
  font-size: 60px;
  letter-spacing: 10px;
}
.section4 h3::before,
.section4 h3::after,
.social h3::before,
.social h3::after {
  display: inline-block;
  content: "";
  border-top: 0.3rem solid black;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

.section4-button {
  width: 10%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  color: black;
}

.section4-button:hover {
  color: white;
  background-color: black;
}

.social-icons {
  text-align: center;
  font-size: 35px;
}
.social-icons i {
  padding: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social-icons i:hover {
  color: gray;
}

.down-menu {
  display: flex;
  justify-content: space-around;
}
.down-menu ul {
  list-style-type: none;
  padding: 0;
}
.down-menu ul li {
  cursor: pointer;
  padding-top: 5px;
}

.list-group {
  display: flex;
  list-style-type: none;
  width: 95%;
  justify-content: space-between;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.product-images {
  width: 400px;
  height: 500px;
  object-fit: contain;
  
}
.addItem-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}
.addItem-wrapper input {
  width: 70%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select {
  padding: 5px;
  border-radius: 4px;
  background: black;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

.card {
  display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ddd;
  border-radius: 4px;
}
.card-button {
  margin-bottom: 10px;
  text-align: center !important;
  padding: 5px;
  border-radius: 4px;
  background: white;
  color: black;
  width: 152px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
}
.card-button:hover {
  background: black;
  color: white;
}
