body {
  font-family: "Montserrat", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
.navbar {
  margin-top: 40px;
}
.navbar-links {
  display: flex;
  justify-content: center;
}
.navbar-items {
  display: flex;
  list-style-type: none;
  
}
.navbar-items a {
  text-decoration: none;
  margin-right: 50px;
  color: black;
  font-size: 13px;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}
.navbar-items a:hover {
  color: rgb(83, 80, 80);
}

.search_btn {
  cursor: pointer;
}
.search-input {
  padding: 0;
  height: 25px;
  margin-top: 9px;
  width: 250px;
  display: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.search-icon {
  margin-top: 17px;
  margin-left: 10px;
}
.section1 {
  background-image: url("./image/image1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 height: 100vh;
}

.section2 {
  display: flex;
}

.first-image{
  margin-top: 150px;
  height: 70vh;
  margin-left: 100px;
  
}

.second-image {
  height: 400px;
  margin-top: 650px;
  margin-left: 150px;
}

.section2-text {
  height: 150px;
  text-align: center;
  width: 200px;
  padding-top: 50px;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 50px;
  margin-top: 200px;
  margin-left: -67px;

}

.section2-text2 {
  width: 200px;
  background-color: white;
  margin-top: 537px;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: 315px;
  text-align: center;
  margin-left: -223px;
}

.section3 {
  background-image: url("./image/image4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-top: 50px;
}